<!DOCTYPE html>
<html>
    <head>
        <title>This is Express Home page</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        {{>header}}
        <h2>Error message: {{error}}</h3>
        {{>footer}}
    </body>
</html>